div.canvas {
float: left;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 40px;
padding-right: 40px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
background-color: #35B575;
margin-left: 10%;
margin-right: 10%;
/*height: 85%;*/
margin-bottom:0px;
margin-top: -17px;
}

p.Member-name {
Font-Size: 25px;
font-style: bold;
font-family: calibri;
}
p.Member-name1 {
Font-Size: 30px;
font-style: bold;
font-family: calibri;
}

p.title {
position: relative;
}

div.title1 {
float: right;
}

p.title1 {
float: left;
}

div.one-third {
width:30%;
float: left;
margin-right: 4%;
border-bottom: .5px solid black;
margin-bottom: 10px;
}
div.one-third-no {
width:30%;
float: left;
margin-right: 4%;
border-bottom: 0px solid black;
margin-bottom: 10px;
}
div.one-third-last {
margin:0;
}
img {
max-width: 100%;
height: auto;
margin: 0 0 10px 0;
}