.SubteamDesc {
font-size: 13px;
font-family: calibri;
}

@media screen and (max-width: 600px) {
.Subteam-font {
font-size: 15px;
font-family: calibri;
}
.member-font {
font-size: 13px;
font-family: calibri;
}
}