
/* 2nd demo specific CSS */
#dynamicfuturedate .ddcubecountdown{
	display: block; /* display each cube on its own line */
	margin-bottom: 5px;
	font-size: 4px; /* adjust font size to scale up/down the cubes (default is 10px) */
}

.Countdown{
float: left; 
margin-left: 25%;
}
#CountdownTitle {
	font-size: 45px;
}

@media screen and (max-width: 1200px) {
	.Countdown{
margin-left: 10%;
}
}
@media screen and (max-width: 1000px) {
	.Countdown{
margin-left: 0%;
}
}
@media screen and (max-width: 900px) {
	.Countdown{
margin-left: 25%;
}
}
@media screen and (max-width: 700px) {
	.Countdown{
margin-left: 15%;
}
}
@media screen and (max-width: 600px) {
	.Countdown{
margin-left: 0%;
}
}
@media screen and (max-width: 500px) {
	.Countdown{
display: none;
}
}

#dynamicfuturedate ul li{
	background: darkred;
}
