p {
text-indent: 2%;
line-height:2em;
font-family: Calibri;
}

ul.teammembers {
font-size: 20px;
font-family: calibri;
}

p.title {
font-size: 25px;
font-family: calibri;
}

h1.title {
font-family: calibri;
font-size: 40px;
text-style: bold;
}

@media screen and (max-width: 900px) {
p.title {
font-size: 20px;
}

h1.title {
font-size: 30px;
}
}

@media screen and (max-width: 600px) {
p.title {
font-size: 15px;
}

h1.title {
font-size: 20px;
}
}