img.bot-align {
width: 40%;
height: auto; 
}
img.bot {
width: 0px;
height: 0px; 
}

@media screen and (max-width: 1100px) {
img.bot-align {
width: 0px;
height: 0px; 
}
img.bot {
width: 80%;
height: auto; 
}
}